header {
	max-height: 60px;
    display: flex;
	background: #004;
	-webkit-app-region: drag;
}

header>* {
	margin-top: auto;
	margin-bottom: auto;
}

header * {
	display: flex;
	background: none;
	color: #cb2;
	text-decoration: none;
	height: 45px;
}

#balance-container {
	border: 1px solid #cb2;
}

#balance-container a, h2 {
	position: relative;
	vertical-align: middle;
	height: fit-content;
	text-decoration: none;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#balance-container * {
	margin: auto 15px auto;
}

#balance-container svg {
	height: 20px;
	width: 20px;
}

ul {
	flex-direction: row;
	-webkit-app-region: none;
}

#window-controls {
	position: absolute;
	right: 0px;
}

#window-controls li {
	padding: 10px;
}

#window-controls li:hover {
	background-color: #828282;
	top: 0;
	right: 0;
	transition: .5s;
}

#window-controls svg {
	height: 20px;
	width: 20px;
}