* {
	overflow-y:hidden;
}

body, #wrapper {
	background-color: #0000 !important;
}

#wrapper, #wrapper * {
	display: flex;
}

#wrapper {
	flex-direction: column;
}

header {
	background: #914;
	-webkit-app-region: drag;
}


header * {
	background: none;
	color: #cb2;
	text-decoration: none;
	height: 45px;
}

#balance-container {
	border: 1px solid #cb2;
}

#balance-container a, h2{
	position: relative;
	vertical-align: middle;
	height: fit-content;
	text-decoration: none;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#balance-container * {
	margin: auto 15px auto;
}

#balance-container svg {
	height: 20px;
	width: 20px;
}

ul {
	flex-direction: row;
	-webkit-app-region: none;
}

#window-controls {
	position: absolute;
	right: 0px;
	
	
}

#window-controls li {
	padding: 10px;
}

#window-controls li:hover {
	background-color: #828282;
	top: 0;
	right: 0;
	transition: .5s;
}

#window-controls svg {
	height: 20px;
	width: 20px;
}

section {
	background: url(res/MesaCasino.png) no-repeat top left / cover !important;
	margin: 20px;
}

section h1 {
	font-size: 50px;
	color: #cb2;
	text-decoration: underline;
}

.hide-button {
	position: absolute;
	right: 30px;
}

.hide-button svg {
	margin: auto;
	height: 30px;
	width: 30px;
}

#roulette-container {
	flex: 1.5;
}

#roulette-container * {
	left: 0;
	top: 0;
	width: 25vh;
	height: 25vh;
	overflow: hidden;
}

.roulette-spinning {
	animation: spin 8s infinite linear
}

#roulette-ball {
	width: 0;
	height: 0;
}

#roulette-ball svg {
	position: relative;
	top: 50%;
	left: 50%;
	width: 0.6vh;
	height: 0.6vh;
}

@media only screen and (min-width: 576px){
	#roulette-container * {
		width: 25vw;
		height: 25vw;
	}

	#roulette-ball svg {
		width: 0.7vw;
		height: 0.7vw;
	}
}

#layout-container {
	flex: 4;
}

#bet-input, #chip-indicator {
	flex: 0;
}

@keyframes spin {
	to {
		transform: rotate(-2turn)
	}
}

/* For dev purposes */
#roulette-ball {
    border: 1px dashed grey;
}