.chip, .bet-particle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	display: block;
	transform: translate(0, -0.5vw);
}

.chip {
	width: 4vw;
	height: 4vw;
}

.chip>svg {
	width: inherit;
	height: inherit;
}

.bet-input button {
	position: absolute;
	z-index: 999;
	width: 2vw;
	height: 1.2vw;
	border: none;
	padding: 0;
}

.bet-input p {
	position: absolute;
	top: 0;
	left: 1vw;
	height: 1.2vw;
	padding: 0;
	background: #000;
	font-size: 2vh;
	color: #fff;
}

.decrease-bet {
	left: 0;
	bottom: 0.8vw;
}

.increase-bet {
	right: 0;
	bottom: 0.8vw;
}

#chip-indicator, #chip-indicator * {
	z-index: 5;
	overflow: visible;
}

.bet-particle {
	z-index: 5;
	opacity: 0%;
    font-size: large;
    font-weight: bolder;
    color: orange;
}

.bet-particle-animate .bet-particle {
	animation: particle-appear 1s linear 1;
}

@keyframes particle-appear {
	0% {
		opacity: 0%;
	}
	20% {
		opacity: 100%;
	}
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
		transform: translateY(-20%);
	}
}